.share-container {
    margin: 10px 0;
}

.rrssb-buttons li a {
    border-radius: 0;
}

/* Smartphones and Tablets */
@media only screen and (min-width: 321px) and (max-width: 767px) {
    .rrssb-buttons li {
        width: 42px !important;
    }
}
